*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html{
    font-size: 100%;
    background-image: url("Images/FondoPPal.jpg");
    overflow: scroll;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box{
    margin-top: 20px;
    width: 91%;
    display: center;
    background-color: rgb(236, 236, 246);
    border-radius: 6px;
    padding: 10px;
}

.text-box h2{
    width: 95%;
    display: center;
    text-align: center;
    font-weight: bolder;
    margin-top: 6px;
}

.text-box h3{
    width: 95%;
    display: center;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

footer{
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    top: 10%;
}

.a{
    color: #000000;
}

::-webkit-scrollbar{
    display: none;
}

.container{    
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:larger;
    font-style: normal;
    max-width: 1200px;
    margin: 0 auto ;
    display: flex;
}

.content{
    min-height: 80px;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    position: relative;
    width: 160px;
    height: 50px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 700;
    padding: 20px;
    color: black;
    display: block;
    font-weight: 700;
}

.menu .navbar ul li a:hover{
    color:lavender;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

h1{
    margin: 20px 0 0 80px;
}

@media screen and (max-width:800px){
    body{
        margin-bottom: 300px;
    }

    .content{
        min-height: 70px;
    }

    .menu{
        top: 0;
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        background: linear-gradient(
        90deg,
        rgb(253, 99, 250)0%,
        rgb(122, 25, 241)70%
        );
        display: none;
    }   

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
}


.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
}


.card-wrap {
    margin: 20px;
    width: 320px;
    max-width: 1000px;
    min-width: 320px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card-wrap:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card-wrap img {
    width: 100%;
    height: 240px;
}

.card-wrap .contenido {
    padding: 15px;
    text-align: center;
}

.card-wrap .contenido p {
    line-height: 1.5;
    color: #000000;
}

.card-wrap .contenido h3 {
    font-weight: 500;
    line-height: 1.5;
    color: #652583;
    margin-bottom: 15px;
}

.card-wrap .contenido a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #652583;
    border: 1px solid;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-wrap .contenido a:hover {
    background: #652583;
    color: lavender;
}


.card-wrap .contenido label {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #652583;
    border: 1px solid;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card-wrap .contenido label:hover {
    background: #652583;
    color: lavender;
    cursor: pointer;
}

#btn-modal{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(241, 232, 254);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

#btn-modal:checked ~ .container-modal{
    display: flex;
}

.content-modal{
    width: 100%;
    height: 90%;
    overflow: scroll;
    max-width: 90%;
    padding: 20px;
    background-color:  white;
    border-radius: 4px;
}

.content-modal h3{
    margin-bottom: 15px;
    color: #652583;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.content-modal p{
    padding: 15px 0px;
    text-align: justify;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label{
    padding: 10px;
    margin-top: 10px;
    color: #652583;
    border: 1px solid;
    border-radius: 4px;
    transition: all 400ms ease;
}

.content-modal .btn-cerrar label:hover{
    background: #652583;
    color: lavender;
    cursor: pointer;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}

.app{
    background:rgb(241, 241, 251);
    border-style:groove;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 6px;
    padding: 30px;
}

.app h2{
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h3{
    font-size: 20px;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.btn{
    background: white;
    color: #000000;
    font-weight: 500;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #222;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #652583;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #652583;
    color: white;
    font-weight: 500;
    font-size: 15px;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#back-btn{
    background: #652583;
    color: white;
    font-weight: 500;
    font-size: 15px;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}
